In [1]:
import pandas as pd

In [2]:
train_df=pd.read_csv('spam.csv',names=['target','description','nan','ana','aan'],encoding='latin_1')
train_df.head()

  target                                        description  nan  ana  aan
0     v1                                                 v2  NaN  NaN  NaN
1    ham  Go until jurong point, crazy.. Available only ...  NaN  NaN  NaN
2    ham                      Ok lar... Joking wif u oni...  NaN  NaN  NaN
3   spam  Free entry in 2 a wkly comp to win FA Cup fina...  NaN  NaN  NaN
4    ham  U dun say so early hor... U c already then say...  NaN  NaN  NaN

In [3]:
train_df.drop(['nan','ana','aan'],inplace=True,axis=1)

In [4]:
train_df.head()

  target                                        description
0     v1                                                 v2
1    ham  Go until jurong point, crazy.. Available only ...
2    ham                      Ok lar... Joking wif u oni...
3   spam  Free entry in 2 a wkly comp to win FA Cup fina...
4    ham  U dun say so early hor... U c already then say...

In [5]:
train_df.drop([0],inplace=True,axis=0)

In [6]:
train_df.head()

  target                                        description
1    ham  Go until jurong point, crazy.. Available only ...
2    ham                      Ok lar... Joking wif u oni...
3   spam  Free entry in 2 a wkly comp to win FA Cup fina...
4    ham  U dun say so early hor... U c already then say...
5    ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
train_df.isna().sum()

target         0
description    0
dtype: int64

In [8]:
train_df['description'].fillna("",inplace=True)

In [9]:
train_df.head()

  target                                        description
1    ham  Go until jurong point, crazy.. Available only ...
2    ham                      Ok lar... Joking wif u oni...
3   spam  Free entry in 2 a wkly comp to win FA Cup fina...
4    ham  U dun say so early hor... U c already then say...
5    ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
from collections import Counter

In [11]:
Counter(train_df['target'])

Counter({'ham': 4825, 'spam': 747})

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(train_df['description'])
X_train_counts=X_train_counts.toarray()
print(X_train_counts[0])

[0 0 0 ... 0 0 0]

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()
y=le.fit_transform(train_df['target'])
y=y.astype('float')

In [16]:
Counter(y)

Counter({0.0: 4825, 1.0: 747})

In [17]:
from sklearn.naive_bayes import MultinomialNB

In [18]:
nb=MultinomialNB()
model=nb.fit(X_train_counts,y)

In [19]:
def predict(val):
    cv=count_vect.transform(val)
    val=cv.toarray()
    return val

In [23]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
gb=GaussainNB()
gb.predict(x_tra)

In [20]:
val=['Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question']
val=predict(val)
nb.predict(val)

array([1.])

In [21]:
import joblib

In [22]:
joblib.load(nb,'spam-detection.joblib')

TypeError: expected str, bytes or os.PathLike object, not MultinomialNB